networks:
  dev:
    # общая сеть для всех сервисов, чтобы они могли общаться по имени сервиса

services:
  nginx:
    image: nginx:stable-alpine # используем стабильный легковесный Nginx образ
    container_name: nginx # имя контейнера на хосте, удобно для docker logs/exec
    ports:
      - "80:80" # проброс порта HTTP наружу
      - "443:443" # проброс порта HTTPS наружу
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro" # монтируем локальный конфиг Nginx внутрь контейнера
      - "/etc/letsencrypt:/etc/letsencrypt:ro" # монтируем SSL сертификаты, только для чтения
    restart: always # автоматически перезапускать контейнер при падении
    depends_on:
      # - backend # запускать nginx после backend (порядок запуска, но не гарантирует готовность)
      - frontend # запускать nginx после frontend
    networks:
      - dev # подключаем контейнер к сети dev

  # backend:
  #   container_name: express # имя контейнера на хосте
  #   build:
  #     context: ./backend # берем Dockerfile из папки backend для сборки образа
  #   restart: always # автоматически перезапускать контейнер
  #   networks:
  #     - dev # подключаем контейнер к сети dev

  frontend:
    container_name: nextjs # имя контейнера на хосте
    build:
      context: ./frontend # берем Dockerfile из папки frontend для сборки образа
    restart: always # автоматически перезапускать контейнер
    environment: 
      - SERVER_URL=${SERVER_URL}
    networks:
      - dev # подключаем контейнер к сети dev
